
body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.model {
    background-color: #333333;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

.model h2 {
    color: #BB86FC;
}
.additional-content h2{
    text-align: center;
}
.model input[type="text"] {
    width: calc(100% - 120px);
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
}

.model button {
    padding: 10px 20px;
    background-color: #BB86FC;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.model button:hover {
    background-color: #9A67EA;
}

.results {
    margin-top: 20px;
    background-color: #222222;
    padding: 10px;
    border-radius: 4px;
}

/* .additional-content p, .dataset-info p, .model-info p, .applications-info p, .limitations-info p, .ethical-info p, .additional-content .images, .additional-content .extra-text {
    background-color: #333333;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
} */

.section-container span {
    font-weight: bold;
    color: #BB86FC;
}

.section-container {
    background-color: #333333;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

.section-container h2 {
    background-color: #444444; /* Slightly different background for the title */
    padding: 10px;
    margin: -15px; /* Reset the margin to align with the container's padding */
    margin-bottom: 15px; /* Space below the title */
    border-radius: 8px 8px 0 0; /* Rounded corners at the top */
    text-align: center;
    color: #BB86FC;
}

.section-container p {
    background-color: #333333; /* Matching the container's background for cohesiveness */
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    color: #E0E0E0; /* Ensuring text color is readable */
}
